<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="student" class="com.wyt.spring02.Student">
        <property name="id" value="11" />
        <property name="name" value="张三" />
    </bean>

    <bean id="student123"
          class="com.wyt.spring02.Student">
        <property name="id" value="123" />
        <property name="name" value="KK123" />
    </bean>

    <bean id="student100"
          class="com.wyt.spring02.Student">
        <property name="id" value="100" />
        <property name="name" value="KK100" />
    </bean>

    <bean id="class1" class="com.wyt.spring02.Klass">
        <property name="students">
            <list>
                <ref bean="student100" />
                <ref bean="student123" />
            </list>
        </property>
    </bean>

    <bean id="school" class="com.wyt.spring02.School" autowire="byName"/>


</beans>